<!DOCTYPE html>
<html html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/front.css}">
</head>
<body>

<div class="front-inner">
    <!--<div class="jumbotron hero-login">-->
        <!--<div class="container text-center">-->
            <!--<h4 style="font-size: 32px; font-weight: bold">用户登录</h4>-->
        <!--</div>-->
    <!--</div>-->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4" id="account">
                <div class="form-group">
                    <input type="email" name="loginParam" id="txemail" class="form-control input-lg" value=""
                           placeholder="邮箱"/>
                </div>

                <div class="form-group">
                    <input type="password" name="password" id="txpwd" class="form-control input-lg" value=""
                           placeholder="密码"/>
                    <input type="hidden" name="passwordmd5" id="txpasswordMd5" value=""/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-block btn-lg" onclick="loginCheck()">登录</button>
                    <span class="redletter" id="error" th:if="${error}" th:text="${error}"></span>
                </div>
                <span class="redletter" id="error"></span>
                <div class="form-group">
                    <a th:href="@{/user/register}" style="text-decoration: none">
                        <input class="btn btn-default btn-block btn-lg free_reg"
                               style="border: 1px solid #5bc0de;color: #5bc0de"
                               value="还没有账号？免费注册"/>
                    </a>
                    <!--<input type="button" class="btn btn-default btn-block btn-lg free_reg"-->
                    <!--style="border: 1px solid #5bc0de;color: #5bc0de"-->
                    <!--value="还没有账号？免费注册">-->
                </div>
            </div>
        </div>
    </div>
    <div class="front-push"></div>
</div>

<script src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript">
    function loginCheck() {
        let emailInput = $("#txemail");
        let pwdInput = $("#txpwd");
        let warnSpan = $("#error");
        if (emailInput.val() === "") {
            warnSpan.html("请输入邮箱名称!");
        } else if (!isEmail(emailInput.val())) {
            warnSpan.html("输入的邮箱有误!");
        } else if (pwdInput.val() === "") {
            warnSpan.html("请输入密码!");
        } else {
            let params = {};
            params['email'] = emailInput.val();
            params['pwd'] = pwdInput.val();
            $.ajax({
                url: '/user/login',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(params),
                success: (result) => {
                    console.log(result);
                    if (result['code'] !== "FAILURE") {
                        warnSpan.hide();
                        window.location.href = "/ver/entity";
                    } else {
                        warnSpan.html(result['reason']);
                        warnSpan.show();
                    }
                }
            });
        }
    }

    function isEmail(b) {
        var a = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
        return a.test(b)
    }
</script>
</body>
</html>